/* kumbh-sans-regular - latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kumbh-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kumbh-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kumbh-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kumbh-sans-v12-latin-regular.svg#KumbhSans') format('svg'); /* Legacy iOS */
  }
  /* kumbh-sans-700 - latin */
  @font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/kumbh-sans-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kumbh-sans-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kumbh-sans-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kumbh-sans-v12-latin-700.svg#KumbhSans') format('svg'); /* Legacy iOS */
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  img, picture, video, canvas, svg {
    display: block;
  }

  body {
    font-family: 'Kumbh Sans';
    font-size: 0.75rem;
    font-weight: 400;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    max-width: 56.25rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px; 
    margin: 30px;
    padding: 20px 20px 50px 20px;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card--shadow {
    box-shadow: 0px 5px 20px hsl(238, 29%, 16%);
  }

  .card__image-container {
    width: 100%;
    max-width: 14rem;
    height: auto;
    margin-top: -125px;
  }

  .card__image-box {
    display: none;
  }

  .card__faq {
    margin-top: 80px;
    width: 100%;
    max-width: 100%;
  }

  h3 {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.card__question {
    font-size: 0.875rem;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.card__question::after {
content: url(images/icon-arrow-down.svg);
transition: 0.5s ease;
}

.card__question:hover {
  color: hsl(14, 88%, 65%);
}

.card__answer {
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
  width: 100%;
  max-width: 90%;
}

.card__gen-container {
  margin-top: 20px;
}

.card__answer-container {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  width: 100%;
  max-width: 100%;
  max-height: 0px;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
  overflow: hidden;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: -15px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}


/* active class */

.card__question.active::after {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.card__question.active + .card__answer-container {
  max-height: 90px;
  padding: 15px 0px;
  margin-top: 0;
  transition: 0.5s ease-in-out;
}

.card__question.active {
  font-weight: 700;
  transition: 0.5s ease-in-out;
}


/*media query */

@media (min-width: 62.5em) {

body {
  align-items: center;
}

.card {
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -320px;
  background-size: 40rem;
  position: relative;
}

.card__image-container {
  margin-top: 0;
  position: absolute;
  max-width: 24rem;
  right: 516px;
}

.card__image {
  width: 100%;
  object-position: -50px 0px;
}

.card__image-box {
  display: block;
  width: 100%;
  max-width: 8rem;
  transform: translate(-150px, 30px); /* margin-left also works */
  z-index: 1;
}

.card__faq {
  margin-top: 0;
  width: 100%;
  max-width: 50%;
}

h3 {
text-align: left;
}

}

@media (prefers-reduced-motion) {
  .card__gen-container.active .card__question::after {
    transform: rotate(180deg);
    
  }
}