/* kumbh-sans-regular - latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kumbh-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kumbh-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kumbh-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kumbh-sans-v12-latin-regular.svg#KumbhSans') format('svg'); /* Legacy iOS */
  }
  /* kumbh-sans-700 - latin */
  @font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/kumbh-sans-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/kumbh-sans-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kumbh-sans-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kumbh-sans-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kumbh-sans-v12-latin-700.svg#KumbhSans') format('svg'); /* Legacy iOS */
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  img, picture, video, canvas, svg {
    display: block;
    
  }

  body {
    font-family: 'Kumbh Sans';
    font-size: 0.75rem;
    font-weight: 400;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* change all widths, heights, media query size to rem/em/percentage(if needed) */

  .card {
    max-width: 56.25rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px; 
    margin: 30px;
    padding: 20px 20px 50px 20px;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 70%;
  }
  
  /* 
  -using things like top: -20px; means you wont get the space kept if you use
  bottom: 20px;
  
  -use background image for the bg pattern
  */

  .card__image {
    width: 100%;
    height: auto;
    max-width: 80%;
    
  }

h3 {
  margin-top: 100px;
  margin-bottom: 20px;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.card__question {
    font-size: 0.875rem;
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__question::after {
content: url(images/icon-arrow-down.svg);
transition: 0.5s ease;
}

.card__question:hover {
  color: hsl(14, 88%, 65%);
}

.card__answer {
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
}

.card__gen-container {
  margin-top: 20px;
}

.card__answer-container {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  width: 100%;
  height: 0px;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
  overflow: hidden;
}

.card__gen-container.active .card__question::after {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  
}

.card__gen-container.active .card__answer-container {
  height: 90px;
  padding: 15px 0px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.card__gen-container.active .card__question {
  font-weight: 700;
  
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: -10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}




/* use em for media queries */
@media (min-width: 449px) and (max-width: 599px) {
  body {
    margin-top: 100px;
  }
}

@media (min-width: 600px) {
  /*
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}
*/

.card {
  margin: 30px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  
 /* grid-row: 2 / 12;
  grid-column: 3 / 11;
  */
}

.card__image {
  width: 100%;
  padding: 0;
  margin-top: 0;
}

/*
.attribution {
  grid-row: 9 / 10;
  grid-column: 6 / 8;
}
*/

}

@media (prefers-reduced-motion) {
  .card__gen-container.active .card__question::after {
    transform: rotate(180deg);
    
  }
}